html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------------------------------------------*/
/* USEFUL
/*--------------------------------------------------*/
/* -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
/* -moz-box-sizing: border-box;    /* Firefox, other Gecko */
/* box-sizing: border-box;         /* Opera/IE 8+ */
/*---- INLINE BLOCK IE FIX ------*/
/* display: inline-block; */
/* zoom: 1; */
/* *display: inline; */
/*---- DROP SHADOW --------------*/
/* -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
/* -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
/* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
/*--------------------------------------------------*/
/* IMPORT OTHER CSS FILES
/*--------------------------------------------------*/
/*@import (less) "uploader.less";*/
/* --- UPLOADER CSS FILE IF NEEDED */
/*--------------------------------------------------*/
/* CLEARFIX
/*--------------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
/*--------------------------------------------------*/
/* VARIABLES
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/* FONTS
/*--------------------------------------------------*/
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
}
/* =14px */
h1 {
  font-size: 28px;
  font-size: 2.8rem;
}
h2 {
  font-size: 22px;
  font-size: 2.2rem;
}
input,
textarea,
select {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#chckboxTerms {
  width: auto !important;
}
html,
body {
  font-size: 62.5%;
}
strong,
b {
  font-weight: bold;
}
body {
  font-size: 1REM;
  line-height: 1.4;
  background: #f9f9f9;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  width: 100%;
}
textarea {
  resize: vertical;
  width: 100%;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0;
}
.main article h1 {
  font-size: 2em;
}
.main aside {
  color: white;
  padding: 0px 5% 10px;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
input.error {
  border: 2px solid red;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: red;
}
.error {
  color: red;
  font-style: italic;
}
textarea.error {
  border: 2px solid red;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/*--------------------------------------------------*/
/* HEADER
/*--------------------------------------------------*/
/* Advert Banner */
#advertBanner {
  width: 100%;
  height: 90px;
}
/* LOGO */
#logo:hover {
  background: none !important;
}
/*--------------------------------------------------*/
/* NAV
    /*--------------------------------------------------*/
.navWrapperBg {
  background: #44b2d8;
}
.navwrapper {
  width: 100%;
  height: 60px;
  margin: auto;
  text-align: center;
}
.navwrapper > ul {
  margin: auto;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.navwrapper > ul > li {
  display: block;
  float: left;
}
.navwrapper > ul > li:hover {
  background: #289ac1;
  height: 60px;
}
.navwrapper > ul > li > a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05REM;
  font-size: 1.6REM;
  height: 60px;
  display: block;
  line-height: 6REM;
  padding: 0 2REM;
}
/*--------------------------------------------------*/
/* BODY
/*--------------------------------------------------*/
.message {
  width: 100%;
  border: 2px solid #3faa58;
  background: #75dc8d;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  text-align: center;
  font-size: 2REM;
  color: #326e1a;
  margin: 10px 0 20px 0;
}
.grid {
  /*border: 1px solid red;*/
}
.bodyTitle {
  font-size: 2.6REM;
  text-align: left;
  padding: 20px 0;
  letter-spacing: 0.1REM;
}
#bodyArea {
  padding-bottom: 20px;
}
#bodyArea,
#bodyArea a {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.4REM;
}
.contentIndex > a > img {
  height: auto !important;
  width: 100%;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.contentIndex > a > span.description {
  margin: 10px 0;
  display: block;
}
.contentRow {
  margin-bottom: 20px;
}
/* index page */
.createNew > a {
  font-weight: bold;
  background: #eee;
  padding: 0.5REM;
  width: 100%;
  display: block;
  margin-top: 10px;
}
.createNew > a:hover {
  background: #d5d5d5;
}
/*--------------------------------------------------*/
/* FOOTER
/*--------------------------------------------------*/
.footer-container {
  padding-top: 2REM;
}
footer > div > div > img {
  width: 100%;
}
copyright {
  text-align: right;
  padding-top: 5px;
  color: #939598;
}
/* Footer NAV */
.footerNav {
  text-align: center;
  padding-top: 5px;
  color: #939598;
}
.footerNav li {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.footerNav li > a {
  padding: 0 0.2REM;
  color: #939598;
}
.row {
  margin-bottom: 2REM;
}
